h1{
    color:aquamarine
}
p{
    color: brown;
    background-color: violet;
    padding: 15px;
    border: 10px solid powderblue;
    /*margin: 20px;*/
    /*margin: 10px 30px 50px;*/
    /*margin: 30px 50px;*/
    /*margin: 10px 20px 30px 50px;*/
    /*margin: auto;*/
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    /*margin: auto 50px;*/
    text-align: center;


}