
/*Div pone margen y padding automatico, eliminamos general de todos los elementos para evitar esto*/
*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color:#e63946;
}
/*El outline existe entre el padding y el margin*/
div{
    padding:10px;
    border:0px solid #457b9d;
    margin:0px;
    background-color: #f1faee;
    /*Longitud maxima de 300 pixeles*/
    width: 300px;
    /*Podemos aplicar los mismos elementos de border al outline*/
    /*Box-siing*/
    box-sizing: border-box;
}