/* Podemos definir estilos juntos que queremos que se mantengan en varias etiquetas*/
table,th,td{
    /*Creamos la linea que separa las celdas*/
    border:1px solid black;
    /*Colapsamos los espacios de las celdas de la tabla*/
    /*border-collapse: collapse;*/
    /*Podemos utilizar padding también en las tabls de html*/
    padding: 2px;
    /*Espaciado de borde*/
    border-spacing: 5px;
    /* Elementos colspan y rowspan*/

}
table{
    width: 100%;
}
/*Mas tarde podemos especificar un estilo en concreto para una etiqueta si lo deseamos*/
td{
    text-align: center;
}
th{
    text-align: left;
}